# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\hhers\Documents\Univ_2020-2021\S7\Info 806 - Intégration\birthday-greeter\birthday_maven_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
